{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load humanize %}

{% block content %}

<h1>{% trans 'Vegetation Habitat Data Collector' %}</h1>

<p>{% trans 'Demo/Prototype site for collecting observations' %}</p>

<p>{% trans 'To submit an observation, you will need to:' %}</p>

<ul>
    {% if not user.is_authenticated %}
    <li><a href="{% url 'collector:login' %}">{% trans 'login' %}</a></li>
    {% endif %}
    <li>{% trans 'allow access to your camera' %}</li>
    <li>{% trans 'allow access to your location' %}</li>
</ul>

<p>{% trans 'You\'ll be prompted for camera and location permissions when you go to add an observation' %}</p>

{% if user.is_authenticated %}
<ul>
<li><a href="{% url 'collector:create_observation' %}">{% trans 'Add an Observation' %}</a></li>
</ul>
{% endif %}
{% endblock %}