{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load humanize %}

{% block extra_scripts %}
<script defer src="{% static 'collector/camera.js' %}"></script>
<script defer src="{% static 'collector/location.js' %}"></script>
{% endblock extra_scripts %}


{% block content %}

<h1>{% trans 'Record Observation' %}</h1>

{% if form.errors %}
    <div style="color: red;">
        <h3>There were errors with your submission:</h3>
        <ul>
            {% for field, errors in form.errors.items %}
                    {% for error in errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
            {% endfor %}
        </ul>
    </div>
{% endif %}

<form id="ObservationForm"  method="POST">
    {% csrf_token %}
    <h3>Capture Photo</h3>
    <video id="video" autoplay></video>
    <canvas id="canvas" style="display: none;"></canvas>
    <img id="photo" style="display: none;" alt="Captured Photo">
    <button id="capture" type="button">Capture</button>
    <input type="hidden" id="observation_image" name="observation_image">

    <h3>Location</h3>
    <label for="geo_lat">Latitude:</label>
    <input type="text" id="geo_lat" name="geo_lat" readonly>
    <br><br>
    <label for="geo_lng">Longitude:</label>
    <input type="text" id="geo_lng" name="geo_lng" readonly>

    <h3>Plot</h3>
    <label for="plot">Plot:</label>
    <input type="text" id="plot" name="plot">

    <h3></h3>
    <button type="submit" id="submitObservation">Submit Observation</button>
</form>

{% endblock %}