{% extends "base.html" %}
{% load i18n %}
{% load static %}


{% block extra_scripts %}
<script defer src="{% static 'collector/camera.js' %}"></script>
<script defer src="{% static 'collector/location.js' %}"></script>
{% endblock extra_scripts %}

{% block content %}

<h1>{% trans 'Record Observation' %}</h1>

<h2>{% blocktrans with step_number=step_number step_count=step_count %}
    Step {{ step_number }} of {{ step_count }} - Photo & Location
{% endblocktrans %}
</h2>

{% include 'includes/form_errors.html' %}

<form id="ObservationForm"  method="POST">
    {% csrf_token %}
    <h3>Capture Photo</h3>
    <video id="video" autoplay></video>
    <canvas id="canvas" style="display: none;"></canvas>
    <img id="photo" style="display: none;" alt="Captured Photo">
    <button id="capture" type="button">Capture</button>
    {{ form.observation_image }}

    <h3>Location</h3>
    <label for="geo_lat">Latitude:</label>
    <input type="text" id="geo_lat" name="geo_lat" readonly>
    <br><br>
    <label for="geo_lng">Longitude:</label>
    <input type="text" id="geo_lng" name="geo_lng" readonly>
    <br><br>
    <button type="submit" id="submitNext">Next &gt;&gt;</button>
</form>

{% endblock %}