{% extends "base.html" %}
{% load i18n %}
{% load static %}



{% block content %}

<h1>{% trans 'Record Observation' %}</h1>

<h2>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }} - Measurements</h2>


<form id="ObservationForm"  method="POST">
    {% csrf_token %}
       {{ wizard.management_form }}
        {{ wizard.form }}

    {% if wizard.steps.prev %}
        <button type="submit" name="wizard_goto_step" class="wizard-nav-button" value="{{ wizard.steps.prev }}">&lt;&lt; Back</button>
    {% endif %}

    <button type="submit" class="wizard-nav-button" id="submit">Next &gt;&gt;</button>
</form>

{% endblock %}