{% extends "base.html" %}
{% load i18n %}
{% load static %}


{% block extra_styles %}

{% endblock extra_styles %}

{% block extra_scripts %}
<script defer src="{% static 'collector/species-autocomplete.js' %}"
    data-speciesacurl="{% url 'collector:species_autocomplete' %}">
</script>
{% endblock extra_scripts %}


{% block content %}

<h1>{% trans 'Record Observation' %}</h1>

<h2>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }} - Species</h2>

<form id="ObservationForm"  method="POST">
    {% csrf_token %}
     {{ wizard.management_form }}

    {{ wizard.form.management_form }}

{% if wizard.form.errors %}
    <div style="color: red;">
        <h3>There were errors with your submission:</h3>
            {{ wizard.form.non_form_errors }}
        <ul>
            {% for form_errors in wizard.form.errors %}
                {% for k, errors in form_errors.items %}
                    {% if k == '__all__' %}
                        {% for error in errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </ul>
    </div>
{% endif %}


    {% for form in wizard.form.forms %}
            {% for field in form %}
                <div class="form-group">
                    {{ field.label_tag }}
                    {{ field }}
                </div>
            {% endfor %}
    {% endfor %}

     {% if wizard.steps.prev %}
        <button type="submit" name="wizard_goto_step" class="wizard-nav-button" value="{{ wizard.steps.prev }}">&lt;&lt; Back</button>
    {% endif %}

    <button type="submit" id="submit" class="wizard-nav-button">Submit Observation</button>
</form>
{{ form.media.js }}
{% endblock %}