{% load i18n %}
{% load static %}
{% block content %}
	    <!-- Image and text -->
<nav id="navbar" class="navbar navbar-light navbar-expand-lg">
  <div class="container-fluid">
  
  <a class="navbar-brand" href="{% url 'collector:index' %}">
    {% trans 'Data Collector'  %}
  </a>
  <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon text-dark"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarScroll">
      <ul class="navbar-nav ms-auto my-2 my-lg-0 navbar-nav-scroll" >
        {% if user.is_authenticated %}
            <li>Welcome, {{ user.username }}</li>
            <li><a href="{% url 'admin:collector_observation_changelist' %}">View Observations</a></li>
            <li><a href="{% url 'collector:map' %}">Map</a></li>
            <li> <form method="post" action="{% url 'collector:logout' %}" style="display: inline;">
                {% csrf_token %}
            <button type="submit">Logout</button>
         </form></li>

        {% else %}
            <li><a href="{% url 'collector:login' %}">Login</a></li>
        {% endif %}
    </ul>

    </div>
  </div>
</nav>

	    
	    
{% endblock content %}